body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #88b28a, #d8c4a9);
    padding: 10px 20px;
    position: relative;
}

.company-name {
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(135deg, #ff5733, #ffbd33);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 700px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, background-position 0.5s ease; 
    background-size: 200% 200%;
    margin-left: 25%;
    font-family: 'Super Kinds', cursive;
}

.company-name::before {
    content: attr(data-text); 
    position: absolute;
    left: 2px; 
    top: 2px; 
    color: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}

.company-name:hover {
    transform: scale(1.1);
    animation: animateGradient 5s ease infinite;
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #BFAE90;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #88b28a, #d8c4a9);
    font-size: 100%;
    
}

nav.active {
    left: 0;
}

.nav-logo-container {
    margin: 20px 0;
}

.nav-logo {
    width: 170px;
    height: auto;
}

.nav-logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 20px;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(135deg, #88b28a, #d8c4a9);
    color: #2C7352;
}


.instagram-logo-container {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.instagram-logo {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.instagram-logo:hover {
    transform: scale(1.1);
}

.logo_grande {
    position: absolute;
    right: 0px;
    top: 16px;
    width: 240px;
    padding: 0px;
    margin-right: 12px;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo_grande:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

a:hover {
    color: #2C7352;
    text-decoration: underline;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

h2 {
    color: #2C7352;
    border-bottom: 2px solid #BFAE90;
}

@media (max-width: 768px) {
    .company-name {
        left: 20%;
        font-size: 30px; /* Reducir tamaño de fuente en pantallas pequeñas */
        margin: 0; /* Ajustar márgenes */
        text-align: center;
    }

    .menu-icon {
        padding: 20px; /* Reducir padding para icono de menú */
    }

    .nav-logo {
        width: 100px; /* Ajustar tamaño del logo */
    }

    .container {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar elementos */
    }

    .team-grid {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    .member-photo {
        width: 100%; /* Ajustar el ancho de la foto del miembro */
        height: auto; /* Mantener la proporción */
    }

    .social-icons img {
        width: 30px; /* Ajustar tamaño de iconos sociales */
    }
    .logo_grande {
        margin-top: 3.5%;
        width: 20%; /* Reduce image size for mobile devices */
        top: 10px; /* Adjust position */
    }
}
@media (max-width: 480px) {
    nav ul li {
        margin-bottom: 8px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 10px;
    }

    section {
        margin: 10px 5px;
        padding: 10px;
    }

    h2 {
        font-size: 1.3em;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.icon-small {
    width: 30px;
}

.carousel {
    position: relative;
    width: 100vw;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.carousel-images img {
    width: 100%;
    height: auto; /* Deja que la altura sea automática según el ancho */
}


.carousel-images {
    display: flex; 
    transition: transform 0.5s ease; 
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
@media (max-width: 768px) {
    .company-name {
        left: 20%;
        font-size: 30px; /* Reducir tamaño de fuente en pantallas pequeñas */
        margin: 0; /* Ajustar márgenes */
        margin-right: 34%;
    }

    .menu-icon {
        padding: 20px; /* Reducir padding para icono de menú */
    }

    .nav-logo {
        width: 100px; /* Ajustar tamaño del logo */
    }

    .container {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar elementos */
    }

    .team-grid {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    .member-photo {
        width: 100%; /* Ajustar el ancho de la foto del miembro */
        height: auto; /* Mantener la proporción */
    }

    .social-icons img {
        width: 30px; /* Ajustar tamaño de iconos sociales */
    }
    .logo_grande {
        margin-top: 3.5%;
        width: 20%; /* Reduce image size for mobile devices */
        top: 10px; /* Adjust position */
    }
}

@media (max-width: 480px) {
    .company-name {
        font-size: 18px;
    }

    nav ul li {
        margin-bottom: 8px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 10px;
    }

    section {
        margin: 10px 5px;
        padding: 10px;
    }

    h2 {
        font-size: 1.3em;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.icon-small {
    width: 30px;
}

#mensaje-bienvenida{
    text-align: center;
    font-size: 40px;
}



.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s;
}

#btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #88b28a;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

#btn-top:hover {
    background-color: #c6b5a1;
}
